<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.organization.name %></td>
       	<td><%= link_to "Edit User", edit_user_path(user) %></td>
				 <% unless user.email == current_user.email %>
          <td><%= link_to "Delete User", user, :confirm => "Are you sure?", :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

